<div class="dropdown">
    <input class="btn btn-secondary dropdown-toggle"
            placeholder="deu certo"
            [ngClass]="{'show' : show }"
            data-bs-toggle="dropdown" 
            [attr.aria-expanded]="show"
            (click)="showDrop()">
    <ul class="dropdown-menu"
        [ngClass]="{'show' : show }">
        <li class="dropdown-item" aria-checked="true" *ngFor="let item of mainArray" (click)="findChildren(item.id, item.description)">{{item.description}}</li>
    </ul>
</div>